.feedback {
    padding: 50px 0 100px;
    &_top {
        margin-bottom: 50px;
        .row {
            margin-left: -15px;
            margin-right: -15px;
            >div {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &_item {
            padding: 20px 30px;
            border-radius: 30px;
            text-align: center;
            &.gold {
                background: linear-gradient(to bottom, #E9DC7E 0%, #F2EA89 12%, #BA873E 37%, #DFB255 64%, #EFE681 100%);
                .feedback_top_num {
                    img {
                        width: 36px;
                    }
                    h2 {
                        font-size: 40px;
                    }
                }
            }
            &.silver {
                background: linear-gradient(to bottom, #B8B9B9 0%, #C4C5C7 12%, #666567 37%, #6E6E6E 64%, #CFD1D3 100%);
            }
            &.bronze {
                background: linear-gradient(to bottom, #724E3C 0%, #D5A78C 23%, #C9987C 32%, #A97456 41%, #A97651 52%, #B8855C 76%, #E4B89D 88%, #CF9C75 100%);
            }
        }
        &_num {
            height: 95px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2 {
                font-family: $font-fugaz;
                color: #fff;
                font-weight: 700;
                text-shadow: 0 4px 4px rgba(0,0,0,0.25);
                margin: 0;
                font-size: 80px;
            }
        }
        .feedback {
            &_name {
                p {
                    color: #fff;
                }
            }
            &_more {
                button {
                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
            &_content {
                color: #fff;
                text-shadow: 0 2px 5px rgba(0,0,0,0.3);
            }
            &_date {
                color: #fff;
                text-shadow: 0 4px 4px rgba(0,0,0,0.25);
            }
        }
        &_head {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &_name {
        display: flex;
        align-items: center;
        gap: 15px;
        p {
            margin: 0;
            font-size: 14px;
        }
    }
    &_user {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_like {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        background-color: #fff;
        border-radius: 100px;
        border: 1px solid $primary-400;
        gap: 8px;
        transition: $transition;
        svg {
            width: 16px;
            height: 16px;
            path {
                transition: $transition;
            }
        }
        span {
            color: $primary-400;
            font-weight: 700;
            transition: $transition;
        }
        &:hover {
            opacity: 0.9;
        }
        &.view {
            padding: 0;
            border-radius: 0;
            border: 0;
        }
        &.like {
            background-color: $primary-400;
            svg {
                path {
                    fill: #fff;
                }
            }
            span {
                color: #fff;
            }
        }
    }
    &_more {
        position: relative;
        button {
            width: 20px;
            padding: 0;
            svg {
                width: 20px;
                height: 20px;
            }
        }
        ul {
            position: absolute;
            padding: 10px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 2px 15px rgba(0,0,0,0.1);
            top: calc(100% + 8px);
            right: 0;
            min-width: 80px;
            display: none;
            li {
                text-align: center;
                cursor: pointer;
                transition: $transition;
                &:hover {
                    color: $primary-800;
                }
            }
        }
    }
    &_content {
        font-size: 18px;
        text-align: left;
    }
    &_date {
        font-size: 12px;
        margin: 0;
        color: $third-600;
    }
    &_catagory {
        padding: 6px 10px;
        background-color: $primary-400;
        font-size: 12px;
        color: #fff;
        font-weight: 700;
        border-radius: 12px;
        margin: 0;
    }
    &_item {
        padding: 30px 0;
        border-bottom: 1px solid $third-400;
        &:last-child {
            border: 0;
        }
    }
    &_dot {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $third-500;
    }
    @media screen and (max-width: 991px) {
        &_top {
            &_item {
                margin-bottom: 30px;
            }
        }
    }
}